<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.buukle.security.dao.CommonMapper">
  <resultMap id="FuzzyResultMap" type="top.buukle.common.call.vo.FuzzyVo">
    <id column="id" jdbcType="INTEGER" property="identity" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />

    <result column="user_id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="text" />

    <result column="username" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="text" />

    <result column="name_cn" jdbcType="VARCHAR" property="id" />
    <result column="name_cn" jdbcType="VARCHAR" property="text" />

    <result column="name" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="text" />

    <result column="code" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="text" />

    <result column="role_name" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="text" />

  </resultMap>
  <!--fuzzySearch-->
  <select id="fuzzySearch" parameterType="top.buukle.common.call.vo.FuzzyVo" resultMap="FuzzyResultMap">
    select id, ${fieldName} from  ${tableName}
    where ${fieldName}  like '%${text}%';
  </select>
</mapper>