<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<table class="layui-table" lay-even lay-skin="nob">
	<thead>
	<tr>
		<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
		<th class="hidden-xs">UID</th>
		<th>账号</th>
		<th>中文昵称 / 英文名</th>
		<th>性别</th>
		<th>粉丝数</th>
		<th class="hidden-xs">上次登录时间</th>
		<th class="hidden-xs">状态</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody id="tbody-user">
		<tr th:each="user:${response?.body?.list}">
			<td><input type="checkbox" name="batchCheckBox" lay-skin="primary" th:attr="data-id = ${user?.id} , data-userId = ${user?.userId}"  /></td>
			<td th:text="${user?.userId}" class="hidden-xs"></td>
			<td th:text="${user?.username}"></td>
			<td th:text="${(user?.nameCn == null ? '-' : user?.nameCn) +' / ' + (user?.nameEn == null ? '-' : user?.nameEn) }"></td>
			<td th:switch="${user?.sex}">
				<span th:case="1" > 男</span>
				<span th:case="0" > 女</span>
				<span th:case="*" > 未知</span>
			</td>
			<td th:text="${(user?.fans == '' || user?.fans == null )? 0 : user?.fans}"></td>
			<td th:text="${#dates.format(user?.gmtLastLogin, 'yyyy-MM-dd HH:mm')} == null ? '-' : ${#dates.format(user?.gmtLastLogin, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:switch="${user?.status}">
				<button th:case="0" class="layui-btn layui-btn-xs layui-btn-danger" > 初始化</button>
				<button th:case="1" class="layui-btn layui-btn-xs layui-btn-normal" > 处理中</button>
				<button th:case="2" class="layui-btn layui-btn-xs layui-btn-default"> 审核不通过</button>
				<button th:case="3" class="layui-btn layui-btn-xs layui-btn-default"> 审核通过</button>
				<button th:case="4" class="layui-btn layui-btn-xs layui-btn-default"> 已被封禁</button>
				<button th:case="*" class="layui-btn layui-btn-xs layui-btn-unknown"> 未知</button>
			</td>
			<td>
				<div class="layui-inline">
					<hp url="/security/user/userCrudView">
						<div class="layui-btn layui-btn-sm layui-btn-normal editBtn" th:attr="data-id = ${user?.id} , data-userId = ${user?.userId}" data-url="/security/user/userCrudView"><i class="layui-icon">&#xe642;</i></div>
					</hp>
					<hp url="/security/user/userCrudJson">
						<div class="layui-btn layui-btn-sm layui-btn-danger delOneBtn" th:attr="data-id = ${user?.id} , data-userId = ${user?.userId}" data-url="/security/user/userCrudJson"><i class="layui-icon">&#xe640;</i></div>
					</hp>
					<hp url="/security/user/userRoleSetView">
						<div class="layui-btn layui-btn-sm layui-btn-normal setUserRoleBtn" th:attr="data-username = ${user?.username} ,data-id = ${user?.id} , data-userId = ${user?.userId}" data-url="/security/user/userRoleSetView"><i class="layui-icon">&#xe613;</i></div>
					</hp>
					<div class="layui-btn layui-btn-sm layui-btn-normal setUserDeptBtn" th:attr="data-username = ${user?.username} ,data-id = ${user?.id} , data-userId = ${user?.userId}" data-url="/security/user/userDeptSetView"><i class="layui-icon">&#xe770;</i></div>
				</div>
			</td>
		</tr>
	</tbody>
	<input type="hidden" id="page" th:attr="value=${response?.body.pageNo}" />
	<input type="hidden" id="totalPage" th:attr="value=${response?.body.totalPage}" />
	<input type="hidden" id="total" th:attr="value=${response?.body.total}" />
</table>
<script>
    // 绑定分配角色
	bindSetUserRole();
	// 绑定分配部门
	bindSetUserDept();
	/** 绑定分配角色*/
    function bindSetUserRole() {
        $('.setUserRoleBtn').off().on('click', function() {
            var url=$(this).attr('data-url');
            var userId=$(this).attr('data-userId');
            url = url + "?id=" + $(this).attr('data-id') + ((userId =="" || userId==undefined) ? "" : "&userId=" + userId);
            parent.page("分配角色("+ $(this).attr('data-username') +")", url, iframeObj, w = "700px", h = "620px");
            return false;
        }).mouseenter(function() {
            dialog.tips('分配角色', '.setUserRoleBtn');
        })
    }
	/** 绑定分配部门*/
    function bindSetUserDept() {
        $('.setUserDeptBtn').off().on('click', function() {
            var url=$(this).attr('data-url');
            var userId=$(this).attr('data-userId');
            url = url + "?id=" + $(this).attr('data-id') + ((userId =="" || userId==undefined) ? "" : "&userId=" + userId);
            parent.page("分配部门("+ $(this).attr('data-username') +")", url, iframeObj, w = "700px", h = "620px");
            return false;
        }).mouseenter(function() {
            dialog.tips('分配部门', '.setUserDeptBtn');
        })
    }
</script>

